* {
    padding: 0;
    margin: 0;
}

body,
.features {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header,
.nav-bar ul,
.hero,
.image,
.features .cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    gap: 40px;
}

.nav-bar ul {
    gap: 30px;
}

.nav-bar li {
    list-style: none;
}

.hero-text {
    flex: 1;
}

.hero .description {
    padding: 20px 0;
}

.image {
    width: 530px;
    height: 230px;
    flex: initial;
}

header,
footer,
.hero,
.features,
.testimonials,
.cta {
    padding: 20px 200px;
}

header,
.hero,
footer {
    background-color: #1F2937;
}

.testimonials {
    background-color: #E4E7EB;
}

.cta {
    background-color: #3B81F6;
}

footer,
.hero-text .title,
.cta {
    color: whitesmoke;
}

.hero .description,
.image,
header {
    color: #C7CBD0;
}

.card .description {
    color: #68717C;
}

.testimonials,
.features .title {
    color: #2A3341;
}

.hero .image {
    background-color: #6C747D;
}

button {
    background-color: #3B81F6;
    border-radius: 8px;
    padding: 4px 22px;
    font-size: 16px;
    border: 2px solid #3B81F6;
    color: white;
}

.cta button {
    border: 2px solid white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    margin-right: auto;
}

.hero-text .title {
    font-size: 48px;
    font-weight: bolder;
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

.features .title {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 50px;
}

.features {
    align-items: center;
    justify-content: center;
}

.card .image,
.card .description {
    width: 150px;
    text-align: center;
}

.card .image {
    height: 150px;
    border: 4px solid #3B81F6;
    border-radius: 16px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    gap: 50px;
    padding-bottom: 60px;
}